* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: Montserrat, "Montserrat";


}
html {
    scroll-behavior: smooth;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./../src/assest/fonts/Montserrat/Montserrat-Regular.ttf") format("woff");
  font-display: swap;
}
